.li {
    margin: 10px 0;
    list-style-type: decimal;
}

.points {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    padding: 5px;
    background: steelblue;
    color: whitesmoke;
    border-radius: 50%;
}

.date {
    color: steelblue;
    margin-right: 20px;
}
